<h1>Monthly Budget Post Retirement</h1>

<h6> To better estimate the size of your nest egg, we will need to understand your lifestyle after retirement. Please fill out the items below based on the cost / figures you expect to have in retirement on a MONTHLY basis (all figures in USD, please). </h6>

<div>
  <h6> ***Please enter MONTLY figures.***</h6>
</div>
<form action="/insert_budget_calculator" method="post">

<h3> Housing Expenses </h3>
                 
  <div>
    <label for="monthly_income__salarywages_box">Income / Wages</label>
      
    <input type="text" id="monthly_income__salarywages_box" name="query_monthly_income__salarywages">
  </div>
         
  <div>
    <label for="monthly_income__other_income_box">Other Income</label>
      
    <input type="text" id="monthly_income__other_income_box" name="query_monthly_income__other_income">
  </div>
         
  <div>
    <label for="housing_expenses__mortgage_box">Rent / Mortgage</label>
      
    <input type="text" id="housing_expenses__mortgage_box" name="query_housing_expenses__mortgage">
  </div>
         
  <div>
    <label for="housing_expenses__hoa_fees_box">HOA Fees</label>
      
    <input type="text" id="housing_expenses__hoa_fees_box" name="query_housing_expenses__hoa_fees">
  </div>
         
  <div>
    <label for="housing_expenses__home_insurance_box">Home Insurance / Rent Insurance</label>
      
    <input type="text" id="housing_expenses__home_insurance_box" name="query_housing_expenses__home_insurance">
  </div>
         
  <div>
    <label for="housing_expenses__repairs_maintenance_box">Housing - Repairs / Maintenance </label>
      
    <input type="text" id="housing_expenses__repairs_maintenance_box" name="query_housing_expenses__repairs_maintenance">
  </div>
         
  <div>
    <label for="housing_expenses__water__gas__electricity_box">Utilities (Water, Gas, Electricity)</label>
      
    <input type="text" id="housing_expenses__water__gas__electricity_box" name="query_housing_expenses__water__gas__electricity">
  </div>
         
  <div>
    <label for="housing_expenses__cable__tv__internet_box">Entertainment (Cable, TV, Internet)</label>
      
    <input type="text" id="housing_expenses__cable__tv__internet_box" name="query_housing_expenses__cable__tv__internet">
  </div>
         
  <div>
    <label for="housing_expenses__phone_cell_box">Entertainment - Cell Phone</label>
      
    <input type="text" id="housing_expenses__phone_cell_box" name="query_housing_expenses__phone_cell">
  </div>
         
<h3> Transportation Expenses </h3>
  <div>
    <label for="transportation_expenses__car_payment_box">Car Payment</label>
      
    <input type="text" id="transportation_expenses__car_payment_box" name="query_transportation_expenses__car_payment">
  </div>
         
  <div>
    <label for="transportation_expenses__car_insurance_box">Car Insurance</label>
      
    <input type="text" id="transportation_expenses__car_insurance_box" name="query_transportation_expenses__car_insurance">
  </div>
         
  <div>
    <label for="transportation_expenses__gas__fuel_box">Gas Fuel</label>
      
    <input type="text" id="transportation_expenses__gas__fuel_box" name="query_transportation_expenses__gas__fuel">
  </div>
         
  <div>
    <label for="transportation_expenses__car_repairs_box">Car Repairs</label>
      
    <input type="text" id="transportation_expenses__car_repairs_box" name="query_transportation_expenses__car_repairs">
  </div>
         
  <h3> Educational Expenses </h3>
  <div>
    <label for="educational_expenses__school_supplies_box">School Supplies</label>
      
    <input type="text" id="educational_expenses__school_supplies_box" name="query_educational_expenses__school_supplies">
  </div>
         
  <div>
    <label for="educational_expenses__student_loans_box">Student Loans</label>
      
    <input type="text" id="educational_expenses__student_loans_box" name="query_educational_expenses__student_loans">
  </div>
         
  <div>
    <label for="educational_expenses__college_tuition_box">School Tuition</label>
      
    <input type="text" id="educational_expenses__college_tuition_box" name="query_educational_expenses__college_tuition">
  </div>
         
  <h3> Food & Personal Expenses</h3>

  <div>
    <label for="food_and_personal__groceries__household_box">Groceries</label>
      
    <input type="text" id="food_and_personal__groceries__household_box" name="query_food_and_personal__groceries__household">
  </div>
         
  <div>
    <label for="food_and_personal__clothing_box">Clothing</label>
      
    <input type="text" id="food_and_personal__clothing_box" name="query_food_and_personal__clothing">
  </div>
         
  <div>
    <label for="food_and_personal__entertainment_box">Entertainment</label>
      
    <input type="text" id="food_and_personal__entertainment_box" name="query_food_and_personal__entertainment">
  </div>
         
  <div>
    <label for="food_and_personal__medical_box">Medical / Hospital </label>
      
    <input type="text" id="food_and_personal__medical_box" name="query_food_and_personal__medical">
  </div>
         
  <div>
    <label for="food_and_personal__pet_supplies_box">Pet Supplies</label>
      
    <input type="text" id="food_and_personal__pet_supplies_box" name="query_food_and_personal__pet_supplies">
  </div>
         
  <div>
    <label for="food_and_personal__other_expenses_box">Miscellaneous Expenses</label>
      
    <input type="text" id="food_and_personal__other_expenses_box" name="query_food_and_personal__other_expenses">
  </div>

  <h3> Savings</h3>
  <div>
    <label for="monthly_savings__emergency_fund_box">Emergency Fund Savings</label>
      
    <input type="text" id="monthly_savings__emergency_fund_box" name="query_monthly_savings__emergency_fund">
  </div>
         
  <div>
    <label for="monthly_savings__investments_box">Investments (Stock Market, Bonds, Mutual funds, etc.) </label>
      
    <input type="text" id="monthly_savings__investments_box" name="query_monthly_savings__investments">
  </div>

  <h3> Summary </h3>
  <div>
  Monthly Spend: <%= @salary %>
  </div>
  <div>
  Annual Spend:
  </div>
  
    
  <button>
    Next Step
  </button>
</form>


