<h1> Summary of Expected Spending in Retirement </h1>

<h3> Overview of Entries </h3>

<table>
<tr>
<th> Housing</th>
<th> Transportation</th>
<th> Education</th>
<th> Food & Personal Expenses </th>
<th> Savings </th>
</tr>

 <% @flight_informations.each do |budget_details| %>
 <tr>
<td></td>

 </tr>
</table>
 

<h6> Monthly Spend: <%= number_to_currency(@monthly_budget) %> </h6>

<h6> Annual Spend: <%= number_to_currency(@annual_budget)%> </h6>

<form action="/personal_information_sign_up" >
<button >
Step 2: Personal Information
</button>
</form>