<h1> Welcome <%= @current_user %>! </h1>


<div>
<h6> We are very excited that you have decided to start the journey to plan for retirement. It is no small fact that by [YYYY] the Social Security system will not be able to payout benefits. With the cost of healthcare increasing and longer life expectancies, our generations will need to set aside more money for a larger nest egg. </h6>
</div>

<div>
<h6>...You may be asking yourself, "how can I do this?"</h6>
</div>

<div>
<h6>EASY. All the answers are on this app. Please click "Start Journey" down below to get STARTED!"
</div>

<form action="/budget_sign_up" >
<button >
Step 1: Budget
</button>
</form>

<form action="/personal_information_sign_up" >
<button >
Step 2: Personal Information
</button>
</form>

