<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      FinalProject
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if session.fetch(:user_id).blank? %>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="/user_sign_up" class="dropdown-item">
            Sign up
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="/user_sign_in" class="dropdown-item" >
            Sign in
          </a>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->

  <% elsif %>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a href="/homepage" class="dropdown-item">
            Home
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="/edit_user_profile" class="dropdown-item">
            Edit Profile
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="/user_sign_out" class="dropdown-item">
            Sign out
          </a>
        </li>

      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->

  <% end %>
</nav>
