 <% @budgets.each do |flight_information| %>
  <table>
      <tr>
        <td>
          <%= flight_information.user_id %>
        </td>

        <td>
          <%= flight_information.monthly_income__salarywages %>
        </td>
    </tr>
</table>
<% end %>